body {
    margin: 0;
    font-family: roboto;
}
html, body, fairshare-app { height: 100%; }
p fairshare-group-chooser,
p fairshare-groups-menu-button,
p fairshare-all-other-groups-menu-button,
p all-users-menu-button,
p md-filled-button {
    vertical-align: bottom;
}
.row {
    display: flex;
    align-items: center;
    gap: var(--margin);
}
.video-container, video {
    max-width: 100%;
    max-height: 100%;
}
@media (max-width:700px) { .row { justify-content: space-between; } }
@media (min-width:700px) { .row { justify-content: start; } }
:root {
    --margin: 10px;
    --avatar-size: 40px;
    --md-sys-color-primary: rgb(0 9 53);
    --md-sys-color-surface-tint: rgb(73 90 162);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(20 40 110);
    --md-sys-color-on-primary-container: rgb(169 184 255);
    --md-sys-color-secondary: rgb(87 93 123);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(220 224 255);
    --md-sys-color-on-secondary-container: rgb(64 70 99);
    --md-sys-color-tertiary: rgb(29 0 44);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(71 24 91);
    --md-sys-color-on-tertiary-container: rgb(223 167 243);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(251 248 255);
    --md-sys-color-on-background: rgb(27 27 32);
    --md-sys-color-surface: rgb(251 248 255);
    --md-sys-color-on-surface: rgb(27 27 32);
    --md-sys-color-surface-variant: rgb(226 225 238);
    --md-sys-color-on-surface-variant: rgb(69 70 81);
    --md-sys-color-outline: rgb(117 118 130);
    --md-sys-color-outline-variant: rgb(197 197 210);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(48 48 53);
    --md-sys-color-inverse-on-surface: rgb(242 240 247);
    --md-sys-color-inverse-primary: rgb(184 196 255);
    --md-sys-color-primary-fixed: rgb(221 225 255);
    --md-sys-color-on-primary-fixed: rgb(0 20 84);
    --md-sys-color-primary-fixed-dim: rgb(184 196 255);
    --md-sys-color-on-primary-fixed-variant: rgb(48 65 136);
    --md-sys-color-secondary-fixed: rgb(221 225 255);
    --md-sys-color-on-secondary-fixed: rgb(20 26 52);
    --md-sys-color-secondary-fixed-dim: rgb(191 197 231);
    --md-sys-color-on-secondary-fixed-variant: rgb(63 69 98);
    --md-sys-color-tertiary-fixed: rgb(248 216 255);
    --md-sys-color-on-tertiary-fixed: rgb(50 0 71);
    --md-sys-color-tertiary-fixed-dim: rgb(235 178 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(98 51 118);
    --md-sys-color-surface-dim: rgb(219 217 224);
    --md-sys-color-surface-bright: rgb(251 248 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(245 242 249);
    --md-sys-color-surface-container: rgb(239 237 244);
    --md-sys-color-surface-container-high: rgb(233 231 238);
    --md-sys-color-surface-container-highest: rgb(227 225 232);
    --md-extended-color-custom-color1-color: rgb(81 68 61);
    --md-extended-color-custom-color1-on-color: rgb(255 255 255);
    --md-extended-color-custom-color1-color-container: rgb(118 103 96);
    --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
}
